.paragraph--titulo-ultimasection {
  font-family: "zenoldmincho-black", sans-serif;
  font-weight: 900;
  color: #FFFFFF;
  line-height: 100%;
  font-size: 48px;
  margin: 0;
}

.paragraph--subtitulo-ultimasection {
  font-family: "rubik-light", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 100%;
  color: #FFFFFF;
}

.paragraph--subtitulo-assistencias {
  margin-top: 90px;
}

.paragraph--titulo-modelos {
  font-family: "zenoldmincho-black", sans-serif;
  font-weight: 900;
  color: #FFFFFF;
  font-size: 30px;
  text-decoration: none;
  text-align: left;
  line-height: 100%;
  margin-bottom: 0;
}

.paragraph--subtitulo-modelos {
  font-family: "rubik-regular", sans-serif;
  text-align: left;
  font-size: 16px;
  line-height: 100%;
  color: #ffffff;
}

.paragraph--titulo-tipos-home {
  font-family: "zenoldmincho-bold", sans-serif;
  font-weight: 700;
  font-size: 48px;
  line-height: 100%;
  color: #000000;
  margin: 0;
  text-align: center;
}

.paragraph--subtitulo-tipos-home {
  font-family: "zenoldmincho-bold", sans-serif;
  font-weight: 700;
  font-size: 28px;
  line-height: 100%;
  color: #696969;
  text-align: center;

}

.paragraph--texto-titulo-gatilho-medo {
  font-family: "zenoldmincho-bold", sans-serif;
  font-weight: 700;
  font-size: 48px;
  line-height: 100%;
  color: #000000;
  margin: 0;
}

.paragraph--texto-subtitulo-gatilho-medo {
  font-family: "rubik-light", sans-serif;
  font-weight: 300;
  font-size: 20px;
  line-height: 100%;
  text-align: justify;
  margin: 0;
}

.paragraph--titulo-banner-secundario {
  font-family: "rubik-medium", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  color: #670DA3;
  text-align: center;
  white-space: nowrap;

}

.container--titulo-banner-secundario {
  display: flex;
  justify-content: center;
  border: 3px solid #670DA3;
  width: 100%;
  border-radius: 20px;
}

.paragraph--texto-titulo-shelf {
  font-family: "zenoldmincho-black", sans-serif;
  font-size: 60px;
  font-weight: 900;
  line-height: 100%;
  color: #000000;
  margin: 20px;
}

.container--line {
  height: 3px;
  margin: 50px 0;
  background: linear-gradient(to right, transparent, #FF7500, transparent);
}

.paragraph--titulo360plena {
  font-family: "zenoldmincho-black";
  text-transform: uppercase;
  font-weight: 900;
  color: #FF7500;
  font-size: 50px;
  padding: 0 20px;
}

.container--subtitulo360plena {
  max-width: 1600px;
}

.paragraph--subtitulo360plena {
  font-family: "rubik-light", sans-serif;
  font-size: 28px;
  font-weight: 300;
  line-height: 100%;
  color: #696969;
  text-align: center;
  padding: 0 20px;
}

.paragraph--textoPlena360-textos-pdpPlena {
  font-family: "rubik-regular", sans-serif;
  font-weight: 500;
  font-size: 24px;
  color: #696969;
  line-height: 100%;
  white-space: nowrap;
  padding: 0 20px;
}

.paragraph--lef {
  text-align: left;
}

.paragraph--right {
  text-align: right;
}

.paragraph--label-link-atendimento-plena {
  font-family: "rubik-bold", sans-serif;
  font-weight: 700;
  font-size: 32px;
  line-height: 100%;
  text-align: center;
  color: #ffffff;
  padding: 0;
  margin: 0;
}

.paragraph--plena-fale-com-espec-titulo {
  font-family: "zenoldmincho-bold", sans-serif;
  font-weight: 700;
  font-size: 54px;
  line-height: 115%;
  letter-spacing: 0%;
  color: #000000;
  margin: 0;
}

.paragraph--plena-fale-com-espec-subtitulo {
  font-family: "rubik-regular", sans-serif;
  font-weight: 400;
  font-size: 31px;
  line-height: 100%;
  color: #000000;
}

.container--titulo-prateleira {
  max-width: 1600px;
}

.paragraph--titulo-prateleira {
  font-family: "zenoldmincho-bold", sans-serif;
  font-size: 80px;
  font-weight: 700;
  line-height: 110%;
  text-align: center;
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
  margin-top: 150px;
}

.paragraph--titulo-profissionais {
  color: #FF7500;
}

.paragraph--titulo-profissionais-cuidado {
  background: linear-gradient(to right, rgb(132, 53, 222), rgb(163, 13, 135));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}

.paragraph--titulo-profissionais,
.paragraph--titulo-profissionais-cuidado {
  font-family: "zenoldmincho-bold", sans-serif;
  font-weight: 700;
  font-size: 80px;
  margin: 0;
  padding: 0;
}

.paragraph--titulo-profissionais {
  text-align: left;
}

.paragraph--titulo-profissionais-cuidado {
  text-align: right;
}


.paragraph--subtitulo-profissionais {
  font-family: "zenoldmincho-medium", sans-serif;
  font-weight: 500;
  font-size: 39px;
  color: #000000;
  line-height: 98%;
  text-align: left;
}

.paragraph--texto-profissionais {
  font-family: "rubik-light", sans-serif;
  font-size: 24px;
  color: #000000;
  font-weight: 300;
  text-align: justify;

}

.container--texto-plena-texto-chegou-nova,
.container--titulo-plena-texto-chegou-nova {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0 20px;
  max-width: 1600px;
}

.paragraph--titulo-plena-texto-chegou-nova {
  font-family: "zenoldmincho-black";
  text-transform: uppercase;
  font-weight: 900;
  color: #3C3B3B;
  font-size: 50px;
  margin: 0;
  padding: 0;

  position: relative;
  display: inline-block;
}

.paragraph--titulo-plena-texto-chegou-nova::after {
  content: "";
  position: absolute;
  bottom: -20px;
  left: 50%;
  transform: translateX(-50%);
  width: 85%;
  height: 5px;
  background-color: #FF7500;
  border-radius: 50%;
}

.paragraph--texto-plena-texto-chegou-nova {
  font-family: "rubik-light", sans-serif;
  color: #696969;
  font-size: 30px;
  font-weight: 300;
  padding-top: 20px;
}



.paragraph--titulo-textos-pdp-plena {
  font-family: "zenoldmincho-black";
  font-weight: 900;
  color: #000000;
  font-size: 24px;
  line-height: 100%;
  margin: 0;
  padding: 0;
}

.wrapper--textos-pdp-plena {
  font-family: "zenoldmincho-black";
  font-weight: 900;
  color: #000000;
  font-size: 18px;
  margin: 0;
  padding: 0;
}

.container--titulo-selos-pq-comprar {
  display: flex;
  justify-content: center;
}

.paragraph--texto-pronto-para {
  font-family: "rubik-regular", sans-serif;
  font-weight: 400;
  font-size: 40px;
  color: #000000;
  text-align: center;
  margin: 0;
}


.paragraph--titulo-milhares-confiam {
  font-size: 36px;
  font-family: "rubik-regular", sans-serif;
  font-weight: 400;
  color: #000000;
  text-align: center;
  margin: 0;
}

.container--texto-milhares-confiam {
  max-width: 60vw;
}

.paragraph--texto-milhares-confiam {
  font-size: 24px;
  font-family: "jost-regular";
  font-weight: 400;
  color: #5D5D5D;
  text-align: center;
  margin: 0;
}

.flexRowContent--linha-titulo-original {
  display: flex;
  align-items: center;
}

.paragraph--titulo-original {
  font-family: "rubik-regular", sans-serif;
  font-size: 36px;
  color: #505050;
  margin: 0;
  white-space: nowrap;
}


.container--titulo-cronograma,
.container--subtitulo-cronograma,
.container--conteudo-cronograma {
  display: flex;
  justify-content: flex-end;
}

.paragraph--titulo-cronograma {
  color: #574D41;
  font-family: "rubik-regular", sans-serif;
  font-size: 45px;
  font-weight: 700;
  text-align: right;
  margin: 0;
}

.paragraph--subtitulo-cronograma {
  color: #574D41;
  font-family: "rubik-regular", sans-serif;
  font-size: 27px;
  font-weight: 700;
  text-align: right;
  margin: 0;
}

.paragraph--conteudo-cronograma {
  font-family: "jost-regular";
  font-size: 20px;
  text-align: right;
  margin: 22px 0;
}

.paragraph--titulo-selos-pq-comprar {
  font-family: "rubik-regular", sans-serif;
  font-size: 40px;
  font-weight: 600;
  color: #574D41;
  margin: 0;
  text-align: center;
  line-height: 99%;
  letter-spacing: -3%;
}


.paragraph--texto-selos-pq-comprar {
  font-family: "jost-regular";
  font-size: 22px;
  font-weight: 400;
  color: #686868;
  margin: 0;
  padding: 32px 0;
  text-align: center;
}

.strong--texto-selos-pq-comprar {
  font-weight: 700;
}


.container--balao-pq-comprar {
  z-index: 2;
}

.paragraph--balao-pq-comprar {
  background-color: white;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  border-radius: 30px 30px 30px 0;
  padding: 10px 40px;
  font-family: "rubik-regular", sans-serif;
  font-size: 20px;
  font-weight: 500;
  color: #777777;
  margin-left: 80px;
  max-width: 60%;
  transition: all 0.2s ease;
}

.paragraph--balao-pq-comprar:hover {
  transition: all 0.2s ease;
  transform: scale(1.009);
  box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.35);
}

.strong--balao-pq-comprar {
  font-family: "fraunces-bold";
  color: #3B3B3BB8;
  font-weight: 700;
}

.paragraph--intro-pq-comprar {
  margin: 0;
  font-family: "rubik-regular", sans-serif;
  font-weight: 300;
  font-size: 40px;
  text-transform: uppercase;
  color: #736969;
  margin-top: 35px;
}

.paragraph--stermaxhealth-pq-comprar {
  margin: 0;
  font-family: "fraunces-bold";
  font-weight: 800;
  font-size: 70px;
  text-transform: uppercase;
  color: #1F7ECA;
  line-height: 70%;
}


.container--titulo-texto-seja-bemvindo,
.container--subtitulo-texto-seja-bemvindo {
  display: flex;
  justify-content: center;
  padding: 0 25px;
}

.strong--titulo-texto-seja-bemvindo {
  font-weight: 700;
}

.paragraph--titulo-texto-seja-bemvindo {
  color: #1F80CA;
  font-family: "rubik-regular", sans-serif;
  font-weight: 400;
  font-size: 40px;
  text-align: center;
  margin: 0;
}

.paragraph--subtitulo-texto-seja-bemvindo {
  color: #1F80CA;
  font-family: "rubik-regular", sans-serif;
  font-weight: 400;
  font-size: 40px;
  text-align: center;
  margin: 0;
}


.paragraph--texto-content {
  font-family: "jost-regular";
  font-weight: 400;
  font-size: 21px;
  color: #A7A7A7;
}

.paragraph--texto-trigger {
  font-family: "jost-regular";
  font-weight: 600;
  font-size: 32px;
  text-transform: uppercase;
  margin: 20px 0;
  color: #636363;
}

.paragraph--texto-trigger-30anos::before {
  content: "+ ";
  white-space: nowrap;
}

.paragraph--titulo-pq-escolher {
  font-family: "rubik-regular", sans-serif;
  font-weight: 500;
  font-size: 40px;
  margin: 0;
}

.strong--titulo-biosseguranca {
  font-weight: 900;
  font-family: "fraunces-bold";
}

.paragraph--titulo-biosseguranca {
  font-size: 30px;
  font-weight: 700;
  font-family: "rubik-regular", sans-serif;
  margin: 0 50px 0 50px;
}

.paragraph--texto-biosseguranca {
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 50px;
  font-family: "jost-regular";
  margin-left: 50px;
  margin-right: 50px;

}

.paragraph--titulo-biosseguranca,
.paragraph--texto-biosseguranca {

  color: #574D41;
}

.paragraph--titulo-nosso-proposito {
  font-family: "rubik-regular", sans-serif;
  font-weight: 600;
  font-size: 40px;
  color: #4C4A48;
  margin: 20px 0 22px 0;
}

.paragraph--texto-nosso-proposito {
  font-family: "rubik-regular", sans-serif;
  margin: 0;
  font-weight: 500;
  font-size: 20px;
  color: #4C4A48;
  line-height: normal;
  margin-bottom: 70px;
}

.paragraph--titulo-quem-somos {
  font-family: "rubik-regular", sans-serif;
  font-weight: 900;
  font-size: 38px;
  text-transform: uppercase;
  color: white;
  margin: 0;
  line-height: normal;
  padding-bottom: 20px;
}

.container--texto-quem-somos {
  padding: 10px;
}

.paragraph--texto-quem-somos {
  color: white;
  font-family: "rubik-regular", sans-serif;
  font-weight: 400;
  font-size: 20px;
  margin: 0;
  line-height: normal;
}



/* CSS ROLETA ABAIXO */
.paragraph--titulo-regras-roleta {
  font-family: "jost-regular";
  font-size: 14px;
  font-weight: 500;
  color: #FFFFFFB2;
}

.container--subtitulo-nova-roleta,
.container--titulo-nova-roleta {
  display: flex;
  justify-content: center;
}

.paragraph--titulo-nova-roleta {
  color: #FFFFFF;
  font-family: "rubik-regular", sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 24px;
  text-align: center;
  margin: 0;
}

.paragraph--subtitulo-nova-roleta {
  color: #FFFFFF;
  font-family: "jost-regular";
  font-weight: 500;
  font-size: 12px;
  text-align: center;
  margin: 0 0 10px 0;
}

.container--titulo-form-roleta {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  flex-direction: row;
  align-content: center;
}

.wrapper--titulo-form-roleta {
  color: #ffffff;
  font-size: 40px;
  text-wrap: wrap;
  text-align: center;
}

.paragraph--titulo-form-roleta {
  margin: 0;
  padding: 0;
}

.wrapper--titulo-form-roleta {
  color: #ffffff;
  text-align: center;
  width: 300px;
}

.paragraph--confirm-form-roleta {
  color: white;
  font-size: 40px;
  font-weight: bold;
  font-family: "rubik-regular", sans-serif;
  display: none;
}

.container--titulo-regras-roleta {
  font-size: 14px;
  padding-top: 15px;
}

.container--texto-rules-roleta {
  padding-top: 10px;
}

.paragraph--texto-rules-roleta {
  margin: 0;
  font-family: "jost-regular";
  font-weight: 400;
  font-size: 12px;
  color: #FFFFFFB2;
}



/* CSS ROLETA ACIMA */


.paragraph--titulo-footer-bandeiras,
.paragraph--titulo-textos-horario,
.paragraph--textos-horarios,
.paragraph--textos-contatos {
  white-space: nowrap !important;
}

/* footer desktop  */

/* footer */

.container--texto-final-footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.paragraph--texto-final-footer {
  text-align: center;
  color: #FFFFFF;
  font-family: "rubik-regular", sans-serif;
  font-size: 12px;
}

.link--textos-contatos {
  text-decoration: none;
  font-family: "rubik-regular", sans-serif;
  font-weight: 400;
  color: #FFFFFF;
  font-size: 14px;
}

.paragraph--textos-horarios {
  margin: 0;
  margin-left: 0 !important;
}

.paragraph--textos-horarios,
.paragraph--textos-contatos {
  font-family: "rubik-regular", sans-serif;
  font-weight: 400;
  color: #FFFFFF;
  font-size: 14px;
  margin-left: 11.55px;

}

.paragraph--titulo-footer-bandeiras,
.paragraph--titulo-textos-horarios,
.paragraph--titulo-fale-com {
  font-family: "rubik-regular", sans-serif;
  color: #FFFFFF;
  font-weight: 600;
  font-size: 18px;
  text-align: start;

}

.container--endereco-footer {
  max-width: 273px;
}

.paragraph--endereco-footer {
  text-align: center;
  color: #FFFFFF;
  font-family: "rubik-regular", sans-serif;
  font-weight: 400;
  font-size: 14px;
}

/* footer */

.paragraph--subtitulos-textos-modelos {
  font-family: var(--fonte-primaria);
  font-weight: 400;
  font-size: 16px;
  color: #000000;
}

.paragraph--titulos-textos-modelos {
  font-family: "rubik-regular", sans-serif;
  font-weight: 400;
  font-size: 24px;
  color: #000000;
}

.container--subtitulos-textos-modelos {
  max-width: 145px;
}

.paragraph--subtitulos-textos-modelos-75l {
  margin-bottom: 127px;
}


.paragraph--rich-text-topo {
  margin: 0;
  color: #FFFFFF;
  text-transform: uppercase;
  font-family: "zenoldmincho-medium", sans-serif;
  font-weight: 500;
  font-size: 14px;
}

.container--rich-text-topo {
  text-align: center;
  display: flex;
  justify-content: center;
}

.paragraph--titulo-manuais {
  font-weight: bold;
}

.link--texto-horarios {
  text-decoration: none;
  color: white;
}

.paragraph--texto-horarios,
.paragraph--texto-contato,
.heading--titulo-contato {
  color: white;
}

.paragraph--rich-text-produtos-relacionados {
  color: #5C5A58;
  font-family: var(--fonte-secundaria);
  font-size: 60px;
}

.wrapper--titulo-descricao {
  font-family: var(--fonte-secundaria);
  font-size: 48px;
  color: #5C5A58;
}

.paragraph--titulo-descricao {
  margin: 0 50px;
  padding: 0;
}

.container--texto-numeros {
  font-family: var(--fonte-secundaria);
}

.link--texto-numeros {
  text-decoration: none;
  color: var(--cinza-medio);
}

.paragraph--texto-numeros {
  margin: 0;
  color: var(--cinza-medio);
}

.container--linha-texto {
  margin-bottom: 30px;
}

.paragraph--linha-texto {
  margin: 0;
  padding: 0;
  font-family: var(--fonte-secundaria);
  font-size: 15px;
  color: var(--cinza-medio);
}

.link--texto-trocas-devolucoes {
  text-decoration: none;
  color: white;
}


.container--texto-trocas-devolucoes,
.container--titulo-trocas-devolucoes {
  color: white;
}

.paragraph--contatos-footer-titulo {
  font-family: var(--fonte-secundaria);
  font-size: 24px;
  margin-top: 63px;
  color: var(--cinza-medio);
}

.paragraph--texto-digitando {
  color: #FFFFFF;
  font-size: 24px;
  font-family: "rubik-regular", sans-serif;
  margin-top: 6px;
}

.container--texto-digitando {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container--subtitulo-banner-esquerdo {
  text-align: right;
}

.container--titulo-banner-direito,
.container--subtitulo-banner-direito {
  text-align: left;
}

.paragraph--subtitulo-banner-direito,
.paragraph--titulo-banner-direito,
.paragraph--titulo-banner-esquerdo,
.paragraph--subtitulo-banner-direito,
.paragraph--subtitulo-banner-esquerdo {
  margin: 0;
  padding: 0;
  text-align: start;
}

.paragraph--subtitulo-banner-esquerdo {
  font-size: 18px;
  font-family: "rubik-medium", sans-serif;
  font-weight: 400;
  color: #ffffff;
  margin-top: 20px;
}

.paragraph--titulo-banner-direito,
.paragraph--titulo-banner-esquerdo {
  font-family: "zenoldmincho-medium", sans-serif;
  font-size: 52px;
  line-height: 98%;
  font-weight: 400;
  color: #ffffff;
}

.wrapper--titulo-banner-esquerdo,
.wrapper--titulo-banner-esquerdo {
  text-align: right;

}





.strong--deals {
  font-family: "rubik-extrabold", sans-serif;
  font-weight: 800;
  font-size: 11px;
  line-height: 115%;
}

.container--deals {
  color: #FFFFFF;
  text-align: center;
  justify-content: center;
  font-size: 10px;
  font-family: "rubik-light", sans-serif;
  font-weight: 300;
  line-height: 115%;
}

.container--shelfTitle {
  color: #F6F6F6;
  justify-content: center;
  text-align: center;
}

.headingLevel2--shelfTitle {
  font-weight: 200;
}

.container--deals .paragraph {
  text-align: left;
}

.container--link {
  justify-content: center;
}

.container--question {
  justify-content: center;
}

.container--question .paragraph {
  text-align: center;
  max-width: 540px;
  margin: 0 16px;
  padding-top: 120px;
  color: #03034E;
}

.container--question .strong {
  font-size: 32px;
  line-height: 2rem;
  font-weight: 700;
}

.container--link .paragraph {
  text-align: center;
  max-width: 540px;
  padding-top: 36px;
  padding-bottom: 84px;
  color: #03034E;
}

.container--link .strong {
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
}

.container--link .link {
  text-decoration: none;
  font-size: 36px;
  font-weight: 300;
  color: #03034E;
}

.container--title {
  color: #03034E;
  font-size: 28px;
  font-weight: 700;
}

@media screen and (max-width: 1400px) {
  .paragraph--texto-subtitulo-gatilho-medo {
    font-size: 16px;
  }

  .paragraph--titulo-banner-secundario {
    white-space: unset;
  }
}

@media only screen and (min-width: 640px) {
  .container--question .strong {
    font-size: 40px;
    line-height: 3rem;
  }

  .container--about {
    max-width: 85%;
  }

  .container--title {
    color: #03034E;
    font-size: 40px;
    font-weight: 700;
    max-width: 60%;
  }

  .container--title .paragraph {
    line-height: 1.3em;
  }
}

.container--footer-links {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}


@media only screen and (max-width: 1000px) {
  /* .wrapper--subtitulo-ultimasection{
    margin-top: 20px;
  } */


  .paragraph--subtitulo-assistencias {
    margin-top: 20px;
  }

  .paragraph--subtitulo-ultimasection,
  .paragraph--subtitulo-estoques,
  .paragraph--subtitulo-assistencias {
    font-size: 12px;
  }

  .paragraph--titulo-ultimasection {
    font-size: 28px;
  }

  .paragraph--titulo-modelos {
    font-size: 10px;
  }

  .paragraph--subtitulo-modelos {
    font-size: 10px;
  }

  .paragraph--titulo-tipos-home {
    font-size: 28px;
    padding: 0 20px;
  }

  .paragraph--subtitulo-tipos-home {
    font-size: 16px;
    padding: 0 20px;
  }

  .paragraph--titulo-banner-secundario {
    font-size: 8px;
  }

  .paragraph--texto-titulo-gatilho-medo {
    font-size: 32px;
    text-align: center;
  }

  .paragraph--texto-subtitulo-gatilho-medo {
    font-size: 16px;
    margin: 20px 0;
  }

  .strong--deals {
    font-family: "rubik-bold", sans-serif;
    font-weight: 800;
    font-size: 6px;
    line-height: 115%;
  }

  .container--texto-titulo-shelf {
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .container--line {
    margin: 28px 0;
  }

  .paragraph--texto-titulo-shelf {
    font-size: 32px;
  }

  .paragraph--titulo360plena {
    font-size: 25px;
  }

  .paragraph--subtitulo360plena {
    font-size: 18px;
  }

  .paragraph--texto-plena-texto-chegou-nova {
    font-size: 16px;
  }

  .paragraph--titulo-plena-texto-chegou-nova {
    font-size: 25px;
  }

  .paragraph--label-link-atendimento-plena {
    font-size: 18px;
  }

  .paragraph--plena-fale-com-espec-subtitulo {
    font-size: 20px;
    padding: 0 20px;
  }

  .paragraph--plena-fale-com-espec-titulo {
    font-size: 28px;
    padding: 0 20px;
  }

  .paragraph--titulo-prateleira {
    font-size: 40px;
    padding: 0 40px;
  }

  .paragraph--titulo-profissionais-cuidado {
    text-align: left;
    font-size: 40px;
  }

  .paragraph--titulo-profissionais {
    font-size: 40px;
  }

  .paragraph--subtitulo-profissionais {
    font-size: 18px;
  }


  .paragraph--texto-profissionais {
    font-size: 17px;
  }



  .paragraph--texto-pronto-para {
    font-size: 20px;
  }

  .container--texto-milhares-confiam {
    max-width: unset;
  }

  .paragraph--titulo-milhares-confiam {
    font-size: 18px;
  }

  .paragraph--texto-milhares-confiam {
    font-size: 12px;
  }

  .paragraph--titulo-cronograma {
    font-size: 22px;
  }

  .paragraph--subtitulo-cronograma {
    font-size: 14px;
  }

  .paragraph--conteudo-cronograma {
    font-size: 12px;
  }


  .container--texto-selos-pq-comprar {
    max-width: 50vw;
  }

  .paragraph--titulo-selos-pq-comprar {
    font-size: 18px;
  }

  .paragraph--texto-selos-pq-comprar {
    font-size: 12px;
    margin: 15px 0;
    padding-bottom: 24px;
  }

  .paragraph--titulo-texto-seja-bemvindo {
    font-size: 18px;
  }

  .paragraph--subtitulo-texto-seja-bemvindo {

    font-size: 18px;
  }

  .paragraph--texto-content {
    font-size: 16px;
  }

  .paragraph--texto-trigger {
    font-size: 18px;
  }

  .paragraph--titulo-pq-escolher {
    font-size: 24px;
  }


  .paragraph--texto-nosso-proposito {
    margin-bottom: 20px;
  }

  .container--titulo-biosseguranca,
  .container--texto-biosseguranca {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .paragraph--titulo-biosseguranca {
    font-size: 24px;
    margin: 60px 20px 10px 20px;
    text-align: center;
  }

  .paragraph--texto-biosseguranca {
    font-size: 12px;
    margin: 10px 20px;
    text-align: center;
  }

  .paragraph--titulo-nosso-proposito {
    margin: 0px 0 22px 0;
  }


  /* CSS ROLETA ABAIXO */
  .container--titulo-regras-roleta {
    display: flex;
    justify-content: center;
  }

  .container--texto-rules-roleta {
    width: fit-content;
    padding-left: 0;
    text-align: center;
    padding-top: 5px;
    max-width: 80vw;
    padding: 0 25px;
  }

  .wrapper--titulo-form-roleta {
    font-size: 30px;
    margin-top: 20px;
  }

  .paragraph--confirm-form-roleta {
    font-size: 19px;
    font-weight: bold;
  }

  .container--confirm-form-roleta {
    text-align: center;
  }


  /* CSS ROLETA ACIMA */

  .paragraph--rich-text-produtos-relacionados {
    font-size: 1.8rem;
  }

  .paragraph--titulo-descricao {
    margin: 0 20px;
    padding: 10px;
  }

  .wrapper--titulo-descricao {
    font-size: 1rem;
  }

  .container--deals {
    font-size: 6px;
  }

  .paragraph--deals {
    margin: 0 0 0 10px;
  }

  .paragraph--titulo-banner-direito,
  .paragraph--titulo-banner-esquerdo {
    font-size: 18px;
  }

  .paragraph--subtitulo-banner-direito,
  .paragraph--subtitulo-banner-esquerdo {
    font-size: 10px;
  }

  .wrapper--texto-digitando {
    font-size: 1rem;
  }

  .paragraph--contatos-footer-titulo {
    font-size: 12px;
    margin-top: 25px;
    font-weight: bold;
  }

  .paragraph--footer-titulo {
    font-weight: 400;
    font-size: 16px;
  }

  .paragraph--linha-texto,
  .container--texto-numeros {
    font-size: 10px;
  }


  .flexColChild--container-footer-mobile {
    height: fit-content !important;
  }

  .wrapper--footer-links {
    padding: 0 5px;
  }

  .paragraph--subtitulos-textos-modelos-75 {
    margin-bottom: unset;
  }

  .paragraph--titulos-textos-modelos {
    margin: 50px 0 0;
    font-weight: bold;
    font-size: 14px;
  }

  .paragraph--subtitulos-textos-modelos {
    font-size: 10px;
  }


  .paragraph--texto-digitando {
    font-size: 12px;
    margin: 0;
  }

  .paragraph--texto-rules-roleta {
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 30px;
    font-size: 14px;
  }

}

/* footer desktop  */
@media screen and (min-width: 1000px) {
  .container--endereco-footer {
    border-top: 1px solid white;
  }

  .paragraph--endereco-footer {
    text-align: start !important;
  }

  .paragraph--texto-final-footer {
    font-size: 14px;
  }
}

@media screen and (max-width: 400px) {
  .paragraph--texto-rules-roleta {
    margin-left: 20px;
    margin-right: 20px;
    font-size: 14px;
  }

  .wrapper--confirm-form-roleta {
    display: flex;
  }
}

@media screen and (max-width: 350px) {
  .paragraph--subtitulo-nova-roleta {
    font-size: 10px;
  }
}
