.link--link-acesso-language-alterator{
  text-decoration: none;
    margin: 8px;
    color: #8435DE;
}
.link--link-acesso-language-alterator:hover{
    color: #FF7500;
}

.link--fale-comConsultor-assistencias {
  background: linear-gradient(to right, #A30D87, #8435DE);
}

.link--fale-comConsultor-estoques {
  background: linear-gradient(to right, #FF941A, #FF7500);
}

.link--fale-comConsultor-estoques,
.link--fale-comConsultor-assistencias {
  display: inline-block;
  text-decoration: none;
  padding: 16px 25px;
  border-radius: 20px;
  transition: transform 0.3s ease;
  /* mantenha só aqui */
}

.link--fale-comConsultor-estoques:hover,
.link--fale-comConsultor-assistencias:hover {
  transform: scale(1.03);
  box-shadow: 0 10px 24px -10px rgba(0, 0, 0, 0.37);
}

/* Fallback para touch (sem hover) */
@media (hover: none) and (pointer: coarse) {

  .link--fale-comConsultor-estoques:active,
  .link--fale-comConsultor-assistencias:active {
    transform: scale(0.98);
    transition: transform 0.1s ease;
  }
}



.label--fale-comConsultor-assistencias,
.label--fale-comConsultor-estoques {
  color: #ffffff;
}

.link--link-tipos-autoclave {
  text-decoration: none;
}

.childrenContainer--link-tipos-autoclave {
  width: 100%;
  height: auto;
  max-width: 300px;
  aspect-ratio: 1 / 3;
}

.link--link-ver-tudo-shelf {
  color: #FF7500;
  width: 100%;
  text-align: center;
}

.link--plena-fale-com-espec {
  text-decoration: none;
}

.childrenContainer--plena-fale-com-espec {
  background-image: linear-gradient(to right, #A30D87, #8435DE);
}

.childrenContainer--plena-fale-com-espec {
  flex-wrap: nowrap;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 13px 40px;
  border-radius: 20px;
}

.link--link-orcamento-pronto-para {
  text-transform: uppercase;
  box-shadow:
    0 0 0 5px #1F7ECA1A,
    0 0 0 10px #1F7ECA1A,
    0 0 0 17px #ffffff,
    0 0 0 20px #D2E5F480;

}

.link--link-orcamento-pronto-para,
.link--link-selos-pq-comprar {
  text-decoration: none;
  color: white;
  background-color: #1F7ECA;
  padding: 12px 30px;
  border-radius: 100px;
  margin: 10px 0;
  font-family: "rubik-regular", sans-serif;
  font-size: 24px;
  font-weight: 600;
}

/* footer */
.link--link-footer {
  text-decoration: none;
  color: #fff;
  margin-top: 18px;
  font-family: "rubik-regular", sans-serif;
  font-size: 14px;
  font-weight: 400;
}

/* footer */
.link--link-manuais {
  text-decoration: none;
  color: white;
  background-color: black;
  padding: 8px;
  border-radius: 20px;
}

.link--footer-links {
  text-decoration: none;
  font-family: var(--fonte-secundaria);
  color: var(--cinza-medio);
  font-size: 20px;
}

.link--link-banner-quarto {
  text-decoration: none;
  font-family: "rubik-regular", sans-serif;
  font-size: 20px;
  color: #717171;
  border-radius: 85px;
  padding: 10px 25px;
  text-wrap-mode: nowrap;
  background-color: #ffffff;
}

.link--link-ver-mais-autoclaves {
  text-decoration: none;
}

.label--link-ver-mais-autoclaves {
  font-family: "rubik-regular", sans-serif;
  font-size: 21px;
  color: #717171;
  border-radius: 85px;
  padding: 15px;
  background-color: #DDDDDD;
  font-weight: 400;
}

@media screen and (max-width: 1000px) {
  .childrenContainer--plena-fale-com-espec {
    margin: 20px;
  }

  .link--fale-comConsultor-estoques,
  .link--fale-comConsultor-assistencias {
    font-size: 12px;
    font-weight: 800;
    white-space: nowrap;
  }

  .link--link-tipos-autoclave {
    margin-bottom: 15px;
  }

  .link--link-ver-tudo-shelf {
    width: 100%;
    text-align: center;
  }

  .link--link-orcamento-pronto-para {
    font-size: 14px;
    text-align: center;
    white-space: nowrap;
  }

  .link--link-selos-pq-comprar {
    font-size: 12px;
  }

  .link--link-banner-quarto {
    font-size: 9px;
  }

  .label--footer-links {
    font-size: 10px;
    width: max-content;
  }

}
