.installments--summary :global(.vtex-button){
  background-color: transparent;
  color: #5C5A58;
  border-radius: 50px;
  border-color: #5C5A58;
}

.listPrice {
  color: #000000;
  font-family: "rubik-regular", sans-serif;
  margin-bottom: .25rem;
  font-size: 16px;
}

.sellingPrice {
  color: #000000;
  font-weight: 900;
  font-family: "zenoldmincho-black", sans-serif;
  font-size: 39px;
}

.sellingPriceValue {
  font-size: 2.25rem;
  font-weight: 400;
}

.installments {
  color: #000000;
  margin-bottom: 1rem;
  font-family: "zenoldmincho-medium", sans-serif;
  font-size: 22px;
  font-weight: 500;

}



.savings {
  font-family: "rubik-regular", sans-serif;
  color: #4AC824;
}

.sellingPriceValue--summary {
  font-family: "zenoldmincho-bold", sans-serif;
  font-weight: 700;
  font-size: 40px;
  color: #000000;
}

.savings--summary {
  background: #41C810;
  border-radius: 1000px;
  align-items: center;
  display: flex;
  padding: 5px;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  font-size: 0.875rem;
  font-weight: 600;
  vertical-align: baseline;
  color: #FFFFFF;
  margin: 5px 0;
}

.savings-discount--summary {
  font-size: 0.875rem;
  font-weight: 600;
  vertical-align: baseline;
  color: #FFFFFF;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.listPrice--summary {
  margin-bottom: 0.25rem;
  font-size: .875rem;
  color: #696969;
  line-height: 100%;
  font-family: "zenoldmincho-bold", sans-serif;
}

.installments--summary {
  margin-bottom: 2rem;
  font-size: 0.875rem;
  text-align: center;
}

.savings--summaryPercentage {
  background: #0f3e99;
  border-radius: 1000px;
  align-items: center;
  display: flex;
}

.savingsPercentage--summaryPercentage {
  font-size: 0.875rem;
  font-weight: 600;
  vertical-align: baseline;
  color: #FFFFFF;
  padding: 0.25rem 0.5rem 0.25rem 0.5rem;
}

@media screen and (max-width: 1000px) {
  .sellingPriceValue--summary {
    font-size: 22px;
  }

  .listPrice, .savings {
    font-size: 10px;
  }

  .sellingPrice,
  .installments {
    font-size: 1rem;
  }
}

