.minicartIconContainer .cartIcon {
  width: 5px;
  height: 4.6px;
  overflow: visible;
  position: relative;
  top: 0;
  padding: 0;
  margin: 0;
  margin-bottom: 27px;
  margin-right: 30px;
  padding-bottom: 11px;
}

@media screen and (max-width: 1000px) {
  .openIconContainer {
    margin: 0;
    padding: 0;
    margin-top: 10px;
  }

  .minicartIconContainer .cartIcon {
    width: 0.2rem;
  }

  .minicartContainer :global(.vtex-button) {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    align-items: flex-start;
    width: 60px;
  }


}


@media screen and (max-width: 350px) {

  .minicartIconContainer .cartIcon {
    height: 2.6px;
  }

}
