.container--sticky-header {
  background-color: var(--header);
  height: 82px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.wrapper--sticky-header--stuck,
.wrapper--stuck{
  box-shadow: 0px 6px 16px #9f9e9e;
}



@media screen and (max-width: 1000px){
  .wrapper {
  background-color: var(--header);
}

.wrapper--sticky-header{
  max-height: unset;
}
}
