.sliderTrackContainer--slider-mobile-home,
.sliderTrackContainer--slider-desktop-home{
  margin-top: -2px;
}

/* .sliderTrackContainer--slider-mobile-home{
  height: 300px;
} */

.sliderLayoutContainer--slider-desktop-home {
  max-width: 1300px;
  background-color: transparent;
}

/* .imageElement {
  max-height: 486px;
  max-width: 1300px;
} */

.sliderLayoutContainer {
  justify-content: center;
}

.sliderLayoutContainer--carousel {
  background-color: transparent;
  min-height: 450px;
  padding-bottom: 50px;
  max-width: 1300px;
}

.sliderTrackContainer {
  max-width: 100%;
}

.paginationDotsContainer {
  margin-top: .5rem;
  margin-bottom: .5rem;
}

.layoutContainer--shelf {
  margin-top: 20px;
  margin-bottom: 20px;
  max-width: 96rem;
  min-height: 550px;
}

.slide--shelf {
  /* margin-bottom: 25px; */
  padding-left: .5rem;
  padding-right: .5rem;
  /* min-height: 550px; */
}

@media only screen and (max-width: 1000px) {
  .sliderLayoutContainer--carousel {
    margin-top: -50px;
  }

  .sliderLayoutContainer--shelf {
    padding-left: 25px !important;
    padding-right: 25px !important;
  }

  .slide--shelf {
    min-height: unset;
  }
}
