.element--shelfplena :global(.vtex-button__label) {
  background-image: linear-gradient(to right,#A30D87, #8435DE);
  padding: 0;
  margin: 0;
  border-radius: 16px;
  font-size: 16px;
}

.element--shelfplena :global(.vtex-button) {
  border: none;
  background: none;
  background-color: unset!important;
}


.nameWrapper {
  font-family: "rubik-regular", sans-serif;
  font-size: 20px;
  color: #000000;
  font-weight: 400;
  line-height: 100%;
  padding: 0;
  margin: 0;
}

.imageNormal {
  background-color: #ffff;
  border-radius: 20px;
}

.element {
  display: flex;
  justify-content: space-between;
}

.brandName {
  color: #5C5A58;
  font-family: "zenoldmincho-bold",sans-serif;
  font-weight: 700;
  color: #000000;
  line-height: 100%;
  text-align: left;
  display: flex;
  font-size: 22px;
}

.nameContainer {
  display: flex;
  flex-direction: column;
  align-items: center;

}

.skuSelectorContainer--quickview .skuSelectorItemImage .frameAround,
.skuSelectorContainer--quickview .skuSelectorItemImage .skuSelectorInternalBox {
  border-radius: 50%;
}

.container :global(.vtex-modal-layout-0-x-triggerContainer) {
  opacity: 0;
  transition: opacity 200ms ease-in-out;
}

.container:hover :global(.vtex-modal-layout-0-x-triggerContainer) {
  opacity: 1;
}

@media screen and (max-width: 40em) {
  .container :global(.vtex-modal-layout-0-x-triggerContainer) {
    display: none;
  }
}

.nameContainer {
  justify-content: start;
  padding-top: 1rem;
  padding-bottom: 1rem;
}


.container {
  text-align: start;
}

.imageContainer {
  text-align: center;
}

.image {
  border-radius: 0.25rem;
}

@media screen and (max-width: 1000px) {
  .brandName {
    font-size: 18px;
  }
  
  .spacer {
    display: none;
  }

}
