
.imageElement--imag-catalog{
  border-radius: 20px;
}

@media screen and (max-width: 1000px) {
.imageElement--image-switcher-icon {
  max-width: 28px;
  margin-right: 10px;
}

.imageElement--image-switcher-icon-mobile-pt {
  max-width: 28px;
  margin: 5px 10px 0;
}

.imageElementLink--imag-catalog{
  padding: 20px;
}

}
