@font-face {
  font-family: "jost-regular";
  font-display: swap;
  src: url(assets/fonts/Jost-Regular.woff2),
    url(assets/fonts/Jost-Regular.ttf);
}

@font-face {
  font-family: "jost-bold";
  font-display: swap;
  src: url(assets/fonts/Jost-Bold.woff2),
    url(assets/fonts/Jost-Bold.ttf);
}

@font-face {
  font-family: "jost-medium";
  font-display: swap;
  src: url(assets/fonts/Jost-Medium.woff2),
    url(assets/fonts/Jost-Medium.ttf);
}

@font-face {
  font-family: "jost-semibold";
  font-display: swap;
  src:
    url(assets/fonts/Jost-SemiBold.ttf);
}

@font-face {
  font-family: "jost-thin";
  font-display: swap;
  src: url(assets/fonts/Jost-Thin.woff2),
    url(assets/fonts/Jost-Thin.ttf);
}

@font-face {
  font-family: "jost-light";
  font-display: swap;
  src:
    url(assets/fonts/Jost-Light.ttf);
}

@font-face {
  font-family: "fraunces-regular";
  font-display: swap;
  src:
    url(assets/fonts/Fraunces_144pt-Regular.ttf),
    url(assets/fonts/Fraunces_144pt-Regular.woff2);
}

@font-face {
  font-family: "fraunces-bold";
  font-display: swap;
  src:
    url(assets/fonts/Fraunces_72pt-Bold.woff2),
    url(assets/fonts/Fraunces_72pt-Bold.ttf);
}



@font-face {
  font-family: "domine-regular";
  font-display: swap;
  src: url(assets/fonts/Domine-Regular.woff2),
    url(assets/fonts/Domine-Regular.ttf);
}

@font-face {
  font-family: "domine-semibold";
  font-display: swap;
  src: url(assets/fonts/Domine-SemiBold.woff2),
    url(assets/fonts/Domine-SemiBold.ttf);
}

@font-face {
  font-family: "domine-medium";
  font-display: swap;
  src: url(assets/fonts/Domine-Medium.woff2),
    url(assets/fonts/Domine-Medium.ttf);
}

@font-face {
  font-family: "domine-bold";
  font-display: swap;
  src: url(assets/fonts/Domine-Bold.woff2),
    url(assets/fonts/Domine-Bold.ttf);
}
