@font-face {
  font-family: "jost-regular";
  font-display: swap;
  src: url(assets/fonts/Jost-Regular.woff2),
    url(assets/fonts/Jost-Regular.ttf);
}


@font-face {
  font-family: "zenoldmincho-black";
  font-display: swap;
  src: url(assets/fonts/ZenOldMincho-Black.woff2),
    url(assets/fonts/ZenOldMincho-Black.ttf);
}

@font-face {
  font-family: "zenoldmincho-bold";
  font-display: swap;
  src: url(assets/fonts/ZenOldMincho-Bold.woff2),
    url(assets/fonts/ZenOldMincho-Bold.ttf);
}

@font-face {
  font-family: "zenoldmincho-medium";
  font-display: swap;
  src: url(assets/fonts/ZenOldMincho-Medium.woff2),
    url(assets/fonts/ZenOldMincho-Medium.ttf);
}



@font-face {
  font-family: "rubik-bold";
  font-display: swap;
  src: url(assets/fonts/Rubik-Bold.woff2),
    url(assets/fonts/Rubik-Bold.ttf);
}

@font-face {
  font-family: "rubik-extrabold";
  font-display: swap;
  src: url(assets/fonts/Rubik-ExtraBold.woff2),
    url(assets/fonts/Rubik-ExtraBold.ttf);
}

@font-face {
  font-family: "rubik-medium";
  font-display: swap;
  src: url(assets/fonts/Rubik-Medium.woff2),
    url(assets/fonts/Rubik-Medium.ttf);
}

@font-face {
  font-family: "rubik-regular", sans-serif;
  font-display: swap;
  src: url(assets/fonts/Rubik-Regular.woff2);
}
@font-face {
  font-family: "rubik-light";
  font-display: swap;
  src: url(assets/fonts/Rubik-Light.woff2),
  url(assets/fonts/Rubik-Light.ttf);
}


